.Tour-guide{
    color: rgb(74, 132, 241);
}

.tour-guide{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}

@media only screen and (max-width: 576px) {
    .tour-guide{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media only screen and (min-width: 577px) and (max-width: 1312px) {
    .tour-guide{
        grid-template-columns: repeat(3, 1fr);
    }
    
}